h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.homeDescription {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
    color: #ffffff;
}

.welcomeBtn {
    background-color: #32CD32;
    color: rgb(0, 0, 0);
    padding: 12px 25px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
    align-self: center;
}

.welcomeBtn:hover {
    background-color: white;
    color: #32CD32;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.5);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.alreadyRegistered {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s;
}

.alreadyRegistered:hover {
    color: #32CD32;
    transform: scale(1.05);
}

.homeLogoImg {
    width: 160px;
    height: auto;
    margin-bottom: -25px;
}