
.sidebar {
    width: 250px;
    padding: 20px;      
    box-shadow: 2px 0 10px rgba(255, 255, 255, 0.1);
    margin-right: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -50px;
}

.sidebar ul li {
    margin: 50px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #32CD32;
}

.navIcons {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.profilePicNav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: fill; 
    margin-right: 10px;
    overflow: hidden;
}

.sidebarLogoImg {
    width: 70px;
    height: auto;
    margin-bottom: -10px;
}


.postBtn {
    background-color: #32CD32;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
    color: rgb(235, 235, 235);
    padding: 12px 25px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    font-weight: bold;
    letter-spacing: 1px;
}

.postBtn:hover{
    background-color: white;
    color: #32CD32;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.5);
}
